* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #0f0f10; */
  background-color: #fff;
  max-width: 1440px;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: sans-serif;
}

nav {
  background-color: #0e0e0e;
  padding: 2rem 15%;
  color: #fff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-weight: 600;
}

li {
  list-style-type: none;
}

.nav-container ul li:last-child button {
  margin-left: 4rem;
  background-color: #1e1e21;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: #fff;
  border: 0;
  font-size: 1rem;
}

.section-2 {
  background-color: #0e0e0e;
  padding: 2rem 15%;
  color: #fff;
}

.section-2-container {
  width: 100%;
  display: flex;
}

.section-2-container .left-content,
.section-2-container .right-content {
  width: 50%;
  position: relative;
}

.section-2-container .left-content img {
  position: absolute;
  top: -18rem;
  left: 8rem;
}

.section-2-container .right-content h1 {
  font-size: 4rem;
  margin-bottom: 50px;
}

.section-2-container .right-content h3 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.section-2-container .right-content p {
  color: #bdc0c2;
  line-height: 2.5;
  letter-spacing: 0.5px;
  width: 70%;
  margin-bottom: 2rem;
}

.section-2-container .right-content button {
  padding: 1rem 1.5rem;
  background-color: #1e1e21;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border: none;
}

.section-2-container .right-content button span:nth-child(2) {
  font-size: 1rem;
}

.section-2-container .right-content button span:nth-child(3) {
  font-weight: 900;
  font-size: 1.2rem;
}

.main-img {
  position: relative;
  left: 2rem;
}

@media screen and (max-width: 1216px) {
  .section-2-container .left-content img {
    left: 3rem;
  }
  .section-2-container .right-content p {
    width: 80%;
  }
}

.section-3 {
  background-color: #0e0e0e;
  padding: 4rem 10%;
  color: #fff;
}

.section-3-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.section-4 {
  background-color: #0e0e0e;
  padding: 4rem 10%;
  color: #f2f2f3;
}

.title {
  text-align: center;
}

.section-4-container {
  display: flex;
  flex-direction: column;
}

.section-4-container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 3rem 0;
}

.section-4-container div {
  padding: 0.7rem;
}

.section-4-container div:nth-child(2),
.section-4-container div:nth-child(3) {
  position: relative;
  left: -1rem;
}
.section-4-container div:first-child,
.section-4-container div:last-child {
  position: relative;
  left: 1rem;
}

.section-4-container .left-content div {
  line-height: 1.5;
}

.section-4-container .left-content div small {
  color: #aeb0b2;
  display: block;
}

.section-4-container .left-content div:last-child small {
  color: #aeb0b2;
  width: 120px;
  display: block;
}

.section-5 {
  background-color: #0e0e0e;
  padding: 3rem 10%;
  color: #aeb0b2;
}

.section-5-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-5-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 3rem 0;
}

.section-5-content .right-content {
  width: 220px;
  line-height: 2.1;
}

.section-5-content .right-content button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1.5rem;
  border: 0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: #1e1e21;
  /* color: #aeb0b2; */
  color: #dcdcdc;
  font-size: 1rem;
  margin: 1rem 0;
}

.section-6 {
  color: #aeb0b2;
  background-color: #0e0e0e;
  padding-bottom: 3rem;
}

.section-6-container {
  background-color: #181a1b;
  margin: 0 15%;
  padding: 3rem 10%;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.section-6-container .main-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-6-container .main-content .left-content,
.section-6-container .main-content .right-content {
  width: 50%;
}

.section-6-container .left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px !important;
}

.section-6-container .left-content p {
  font-size: 1.7rem;
  font-weight: 600;
  color: #f2f2f3;
}

.section-6-container .left-content small {
  font-size: 1rem;
  padding: 1.5rem 0;
}

.section-6-container .left-content button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #0e0e0e;
  border: 0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  width: 160px;
  color: #f2f2f3;
  font-size: 1rem;
}

.section-6-container .right-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-7 {
  background-color: #0e0e0e;
  padding: 3rem 10%;
  color: #aeb0b2;
}

.section-7-container title {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #181a1b;
  width: 160px;
  height: 160px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  position: relative;
  padding: 0.8rem;
  margin: 3rem 0;
}

.card .headphone-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card div .headphone {
  width: 100px;
  position: relative;
  top: -3rem;
}

.card p {
  font-size: 0.9rem;
  color: #f2f2f3;
  font-weight: 600;
  line-height: 1.5;
}
.card small {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5;
}

.cart-icon-container {
  position: absolute;
  right: 0.1rem;
  bottom: 0rem;
}

.cart-icon {
  padding: 0.8rem;
  background-color: #0e0e0e;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  scale: 0.8;
}

.card .data {
  position: absolute;
  bottom: 9px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 3rem;
}

.footer {
  background-color: #0e0e0e;
  padding: 3rem 15%;
  color: #aeb0b2;
  padding-bottom: 150px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
}

.footer-container div ul li {
  line-height: 2;
}
.footer-container div ul li:first-child {
  font-weight: 700;
  color: #f2f2f3;
  font-size: 1.1rem;
}

.email-container {
  width: 350px;
  background-color: #181a1b;
  display: flex;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-button button {
  padding: 1rem 1rem;
  background-color: #0e0e0e;
  border: 0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: #f2f2f3;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social ul {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
